<a href="https://colab.research.google.com/github/Gitjesus22/Rstudio/blob/main/datatable_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table><tr>
<td><img src="https://solariabiodata.com.mx/images/solaria_logo_black.png" alt="Soluciones de siguiente generacion" width=200/>
<td>
<td>
<td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/160px-R_logo.svg.png">
</tr></table>

# El paquete `data.table`

Este paquete permite la aceleración cuando se trabaja con archivos muy grandes de datos. De manera general, permite agregación ordenada de datos, modificación de columnas ultrarápida sin la necesidad de generar copias de los archivos.

Debido a la funcionalidad que ofrece para procesar fuentes de datos voluminosas, esta herramienta es de gran utilidad para hacer análisis de datos masivos o _big data_. Es por ello que es uno de los paquetes de `R` más descargados en la actualidad. En el contexto de la bioinformática, resulta crucial tener una herramienta que permita procesar grandes volúmenes de información, que casi siempre resulta ser genómica, por lo cual este paquete es de mucha utilidad.

Tanta es su popularidad que ha inspirado la creación de bibliotecas y módulos para otros lenguajes de programación, `python` es un ejemplo con su paquete `datatable`.

## Instalación y carga

Es un paquete distribuído por el [CRAN](https://cran.r-project.org/) por lo que se puede instalar usando `install.packages()` y cargar con `library()`:

In [ ]:
install.packages("data.table")
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Introducción al análisis de datos

La manipulación de datos consiste en operaciones como la selección de conjuntos (_subset_), agrupación de observaciónes (_group_), la actualización de valores (_update_), el agregado de información (_join_), entre otras. Todas esas operaciones están relacionadas entre sí, por lo que si se utilizan todas estas operaciones nos permiten lograr:

 - Una sintáxis concisa y consistente, sin importar qué operaciones se realicen para alcanzar un objetivo
 - Rendimiento fluído en el análisis sin exceso de carga cognitiva por tener que aplicar cada función en un conjunto enorme de datos antes del análisis
 - Optimización automática y efectiva de operaciones internamente, lo cual asegura un uso eficiente de recursos de cómputo.

Este paquete reduce el tiempo de cómputo y de programación de manera considerable.

### Datos

Usaremos un conjunto de datos de los vuelos de la ciudad de Nueva York en el año 2014. Para ello usaremos la función `fread()`:

```R
input<-"https://raw.githubusercontent.com/Rdatatable/data.table/master/vignettes/flights14.csv"
flights <- fread(input)
```

In [ ]:
input<-"https://raw.githubusercontent.com/Rdatatable/data.table/master/vignettes/flights14.csv"
flights <- fread(input)

`fread()` genera una estructura de datos `data.table`, la cual es una extensión de la estructura `data.frame`, la cual es la estructura estándar para almacenamiento de datos en `R`.

Otra forma de generar una estructura `data.table` es mediante la función homónima `data.table`:

```R
DT = data.table(
  ID = c("s","o","l","b","i","o"),
  a = 1:6,
  b = rep(c(TRUE,FALSE),3),
  c = 13:18
)
```

In [ ]:
DT = data.table(
  ID = c("s","o","l","b","i","o"),
  a = 1:6,
  b = rep(c(TRUE,FALSE),3),
  c = 13:18
)
DT

  ID a b     c
1 s  1  TRUE 13
2 o  2 FALSE 14
3 l  3  TRUE 15
4 b  4 FALSE 16
5 i  5  TRUE 17
6 o  6 FALSE 18

**Aspectos a notar**

 - A diferencia de un `data.frame`, en `data.table` las columnas con datos de tipo `character` no son convertidos en `factors`
 - `data.table` no utiliza nombres de renglones `row.names`

### Optimización de `data.table`

Este paquete se inspira en operaciones que se pueden realizar en `SQL`, un lenguaje que requiere una estructuración muy fina de los datos.

```
DT[i, j, by]

##   R:                 i                 j        by
## SQL:  where | order by   select | update  group by
```

Esto se interpretaría como

> 1. Toma `DT`
> 2. selecciona/reordena reglones usando `i`
> 3. entonces calcula `j`
> 4. agrupando por `by`.

#### Seleccionando renglones con `i`


```R
ans <- flights[origin == "JFK" & month == 6L]
head(ans)
```

In [ ]:
head(ans)

  year month day dep_delay arr_delay carrier origin dest air_time distance hour
1 2014 6     1    -9        -5       AA      JFK    LAX  324      2475      8
2 2014 6     1   -10       -13       AA      JFK    LAX  329      2475     12
3 2014 6     1    18        -1       AA      JFK    LAX  326      2475      7
4 2014 6     1    -6       -16       AA      JFK    LAX  320      2475     10
5 2014 6     1    -4       -45       AA      JFK    LAX  326      2475     18
6 2014 6     1    -6       -23       AA      JFK    LAX  329      2475     14

```R
ans <- flights[1:2]
ans
```

In [ ]:
ans <- flights[1:2]
ans

  year month day dep_delay arr_delay carrier origin dest air_time distance hour
1 2014 1     1   14        13        AA      JFK    LAX  359      2475      9
2 2014 1     1   -3        13        AA      JFK    LAX  363      2475     11

```R
ans <- flights[order(origin, -dest)]
head(ans)
```

In [ ]:
ans <- flights[order(origin, -dest)]
head(ans)

  year month day dep_delay arr_delay carrier origin dest air_time distance hour
1 2014 1      5   6         49       EV      EWR    XNA  195      1131     8
2 2014 1      6   7         13       EV      EWR    XNA  190      1131     8
3 2014 1      7  -6        -13       EV      EWR    XNA  179      1131     8
4 2014 1      8  -7        -12       EV      EWR    XNA  184      1131     8
5 2014 1      9  16          7       EV      EWR    XNA  181      1131     8
6 2014 1     13  66         66       EV      EWR    XNA  188      1131     9

En este caso la función `order()` está optimizada mediante una función interna de `data.table`: `forder()`.

#### Seleccionando columnas con `j`

Primero obtengamos una columna como un `vector`

```R
ans <- flights[, arr_delay]
head(ans)
```

In [ ]:
ans <- flights[, arr_delay]
class(ans)

[1] "integer"

Para recuperar una columna como un `data.table`

```R
ans <- flights[, list(arr_delay)]
head(ans)
```

In [ ]:
ans <- flights[, list(arr_delay)]
head(ans)

  arr_delay
1  13
2  13
3   9
4 -26
5   1
6   0

la función `list()` asegura que una columna sea regresada como un `data.table`, no obstante es viable utilizar la abreviatura `.()` misma que tiene el mismo efecto.

Pensemos en esta forma como una _expresión j_, mientras en esa expresión se obtengan listas, el resultado será un `data.table`

```R
ans <- flights[, .(arr_delay, dep_delay)]
head(ans)
```

In [ ]:
ans <- flights[, .(arr_delay, dep_delay)]
head(ans)

  arr_delay dep_delay
1  13       14
2  13       -3
3   9        2
4 -26       -8
5   1        2
6   0        4

#### Calculando en `j`


Realizar operaciones usando _expresiones j_ es muy sencillo:

```R
ans <- flights[, sum( (arr_delay + dep_delay) < 0 )]
ans
```

In [ ]:
ans <- flights[, sum( (arr_delay + dep_delay) < 0 )]
ans

[1] 141814

Esto se interpreta como calcula cuántos viajes tienen un retraso total menor a 0

#### Seleccionando en `i` y calculando en `j`

Revisemos cuál es el retraso promedio de los arribos y salidas de todos los vuelos del aeropuerto "JFK" en el mes de junio:

```R
ans <- flights[origin == "JFK" & month == 6L,
               .(m_arr = mean(arr_delay), m_dep = mean(dep_delay))]
ans
```

In [ ]:
ans <- flights[origin == "JFK" & month == 6L,
               .(m_arr = mean(arr_delay), m_dep = mean(dep_delay))]
ans

  m_arr    m_dep
1 5.839349 9.807884

Calculemos cuántos viajes se hicieron en 2014 que partieron del aeropuerto "JFK" en junio.

```R
ans <- flights[origin == "JFK" & month == 6L, .N]
ans
```

Nótese que hay un símbolo especial `.N` el cual es una variable especial de `data.table` que contiene el numero de observaciones

In [ ]:
ans <- flights[origin == "JFK" & month == 6L, .N]
ans

[1] 8422

#### Agrupando usando `by`

Veamos como obtener el conteo de vuelos de diferentes aeropuertos:

```R
ans <- flights[, .(.N), by = .(origin)]
ans
```

In [ ]:
ans <- flights[, .(.N), by = .(origin)]
ans

  origin N
1 JFK    81483
2 LGA    84433
3 EWR    87400

Revisemos el total de vuelos que tiene una aerolínea por ruta:

```R
ans <- flights[carrier == "AA", .N, by = .(origin, dest)]
head(ans)
```

In [ ]:
ans <- flights[carrier == "AA", .N, by = .(origin, dest)]
head(ans)

  origin dest N
1 JFK    LAX  3387
2 LGA    PBI   245
3 EWR    LAX    62
4 JFK    MIA  1876
5 JFK    SEA   298
6 EWR    MIA   848

Ahora calculemos el promedio que tienen los retrasos de una aerolínea en particular y agrupemos por las rutas de vuelo y los meses

```R
ans <- flights[carrier == "AA",
        .(mean(arr_delay), mean(dep_delay)),
        by = .(origin, dest, month)]
ans
```

In [ ]:
ans <- flights[carrier == "AA",
        .(mean(arr_delay), mean(dep_delay)),
        by = .(origin, dest, month)]
ans

    origin dest month V1          V2
1   JFK    LAX  1       6.5903614 14.2289157
2   LGA    PBI  1      -7.7586207  0.3103448
3   EWR    LAX  1       1.3666667  7.5000000
4   JFK    MIA  1      15.7206704 18.7430168
5   JFK    SEA  1      14.3571429 30.7500000
6   EWR    MIA  1      11.0112360 12.1235955
7   JFK    SFO  1      19.2522523 28.6396396
8   JFK    BOS  1      12.9196429 15.2142857
9   JFK    ORD  1      31.5862069 40.1724138
10  JFK    IAH  1      28.8571429 14.2857143
11  JFK    AUS  1      25.2000000 27.6000000
12  EWR    DFW  1       6.4276730 10.0125786
13  LGA    ORD  1       8.4402332 10.1195335
14  JFK    STT  1      18.9310345 21.3793103
15  JFK    SJU  1      18.9204545 20.2272727
16  LGA    MIA  1       6.1300000  5.4175000
17  LGA    DFW  1       0.5295699  7.7580645
18  JFK    LAS  1      17.6949153 19.1525424
19  JFK    MCO  1      10.5762712 13.8813559
20  JFK    EGE  1      23.1111111 32.5185185
21  JFK    DFW  1     -11.9000000  8.8000000
22  JFK    SAN  1      11.5555556 12.4814815
23  JFK    LAX  2      22.7520000 15.0800000
24  LGA    PBI  2      -7.8653846  2.4038462
25  JFK    LAS  2      22.2884615 11.8653846
26  JFK    MIA  2      10.4329268 20.1768293
27  JFK    SFO  2      35.4059406 28.7920792
28  JFK    DFW  2      -2.8888889 12.0740741
29  JFK    SAN  2      31.0000000 18.3928571
30  JFK    BOS  2      11.1800000 11.7600000
⋮   ⋮      ⋮    ⋮     ⋮           ⋮
171 JFK    SJU   9      1.6875000 11.3750000
172 LGA    ORD   9      4.3311547  3.7843137
173 EWR    DFW   9      5.8650307 13.0552147
174 EWR    MIA   9     -0.9062500  0.3593750
175 JFK    DCA   9      5.1034483 -2.2413793
176 LGA    DFW   9     -8.7877238 -0.2557545
177 JFK    MIA   9     -2.5550239  6.2775120
178 LGA    MIA   9     -8.5799257 -4.0408922
179 JFK    MCO   9    -10.0666667 -3.5333333
180 JFK    AUS   9     16.2666667 14.3666667
181 EWR    PHX   9     -4.2333333 -1.6666667
182 JFK    LAX  10     -0.9594937  6.2151899
183 JFK    SFO  10      8.1633987  7.6274510
184 JFK    BOS  10     11.5000000 10.2704918
185 JFK    SAN  10     16.2258065 12.4838710
186 JFK    ORD  10     23.0645161 17.6451613
187 JFK    LAS  10     18.2258065 14.5483871
188 JFK    DFW  10      2.2622951  3.0491803
189 JFK    SJU  10      1.7419355 17.1290323
190 JFK    SEA  10      1.0322581  4.9032258
191 LGA    ORD  10     15.4661191 12.9117043
192 EWR    DFW  10     18.8136646 18.8944099
193 JFK    AUS  10      3.2903226  6.2903226
194 EWR    MIA  10     -4.4754098 -3.7868852
195 LGA    DFW  10      3.5000000  4.5527638
196 LGA    MIA  10     -6.2517986 -1.4208633
197 JFK    MIA  10     -1.8801843  6.6774194
198 EWR    PHX  10     -3.0322581 -4.2903226
199 JFK    MCO  10    -10.0483871 -1.6129032
200 JFK    DCA  10     16.4838710 15.5161290