<a href="https://colab.research.google.com/github/Gitjesus22/Rstudio/blob/main/StructurasImportacion_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table><tr>
<td><img src="https://solariabiodata.com.mx/wp-content/uploads/2021/07/logo_red.png" alt="Soluciones de siguiente generacion" width=200/>
<td>
<td>
<td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/160px-R_logo.svg.png">
</tr></table>

# Importación de tablas 
En esta libreta hablaremos importación de tablas en R

#Estructura de los datos 

Las estructuras de datos son objetos que contienen datos. Cuando trabajamos con R, lo que estamos haciendo es manipular estas estructuras.

Las estructuras tienen diferentes características. Entre ellas, las que distinguen a una estructura de otra son su número de dimensiones y si son homogeneas o hereterogeneas.


| Dimensiones | Homogéneas | Heterogénas |
|----------|-------------|-------------|
1	          |  Vector	     |   Lista
2	        | Matriz	        |   Data frame
n	         |  Array	     | 
---

##Matrices
Las matrices pueden ser descritas como vectores multidimensionales. Al igual que un vector, únicamente pueden contener datos de un sólo tipo, pero además de largo, tienen más dimensiones.

**bold text**

In [ ]:

# matrix() sin especificar renglones ni columnas
matrix(1:5)

     [,1]
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5

In [ ]:
# Tres renglones y cuatro columnas
d<-matrix(1:10, nrow = 4, ncol = 5)
d

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   3     7
[2,] 2    6    10   4     8
[3,] 3    7     1   5     9
[4,] 4    8     2   6    10

In [ ]:
#Obtenemos el número de dimensiones de una matriz o array con la función dim()
dim(d)

[1] 4 5

##Data frames

Los data frames son estructuras de datos de dos dimensiones (rectangulares) que pueden contener datos de diferentes tipos, por lo tanto, son heterogéneas.

In [ ]:
mi_df <- data.frame("entero" = c(1:4), "factor" = c("a", "b", "c", "d"), "numero" = c(1.2, 3.4, 4.5, 5.6),
  "cadena" = as.character(c("a", "b", "c", "d")))
mi_df

  entero factor numero cadena
1 1      a      1.2    a
2 2      b      3.4    b
3 3      c      4.5    c
4 4      d      5.6    d

In [ ]:
# Podemos usar dim() en un data frame
dim(mi_df)

[1] 4 4

In [ ]:
# El largo de un data frame es igual a su número de columnas
length(mi_df)

[1] 4

#Descarga de archivo tipo tabla
 En R se pueden descargar archivos desde internter para su utilización, estos archivos pueden se tabla, para la descarga se utiliza el comando

In [ ]:
#Para descargar usamos el comando download.file
download.file(url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", 
  destfile = "iris.data")
# leemos los datos
data(iris)
# visualizamos los datos
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#Importación de tabla

R cuenta con la función genérica read.table(), que puede leer cualquier tipo de archivo que contenga una tabla.

##Importación de la tabla con librerías nativas de R 

Primero se descargan los datos y posteriormente hay importar los datos para ello se utiliza la función read.table

In [ ]:
#Descargando
download.file(
  url = "https://raw.githubusercontent.com/jboscomendoza/r-principiantes-bookdown/master/datos/breast-cancer-wis.data", 
  dest = "breast-cancer-wis.data"
)

##Ubicación de los datos
El directorio o carpeta de trabajo es el lugar en nuestra computadora en el que se encuentran los archivos con los que estamos trabajando en R

In [ ]:

#Puedes encontrar cuál es tu directorio de trabajo con la función getwd(). 
getwd()
#Puedes cambiar el directorio de trabajo usando la función setwd()

[1] "/content/sample_data"

In [ ]:
#importanto datos con la funcion read.table
cancer<-read.table("/content/breast-cancer-wis.data")
head(cancer)

  V1
1 1000025,5,1,1,1,2,1,3,1,1,2
2 1002945,5,4,4,5,7,10,3,2,1,2
3 1015425,3,1,1,1,2,2,3,1,1,2
4 1016277,6,8,8,1,3,4,3,7,1,2
5 1017023,4,1,1,3,2,1,3,1,1,2
6 1017122,8,10,10,8,7,10,9,7,1,4

In [ ]:
#Modificamos la tabla adicional los nombres de los encabezamos

bcancer <- read.table(file = "/content/breast-cancer-wis.data", header = F, sep = ",")
head(bcancer)

  V1      V2 V3 V4 V5 V6 V7 V8 V9 V10 V11
1 1000025 5   1  1 1  2  1  3  1  1   2
2 1002945 5   4  4 5  7  10 3  2  1   2
3 1015425 3   1  1 1  2  2  3  1  1   2
4 1016277 6   8  8 1  3  4  3  7  1   2
5 1017023 4   1  1 3  2  1  3  1  1   2
6 1017122 8  10 10 8  7  10 9  7  1   4

In [ ]:
#Modificamos la tabla adicional los nombres de los encabezamos
#Creamos un vector llamado nombres 
nombres <- c("id", "clump_t", "u_csize", "u_cshape", "m_adh", "spcs", "b_nuc", 
             "b_chr", "n_nuc", "mit", "class")
bcancer <- read.table(file = "/content/breast-cancer-wis.data", header = FALSE, sep = ",",
                      col.names = nombres)
head(bcancer)

  id      clump_t u_csize u_cshape m_adh spcs b_nuc b_chr n_nuc mit class
1 1000025 5        1       1       1     2    1     3     1     1   2
2 1002945 5        4       4       5     7    10    3     2     1   2
3 1015425 3        1       1       1     2    2     3     1     1   2
4 1016277 6        8       8       1     3    4     3     7     1   2
5 1017023 4        1       1       3     2    1     3     1     1   2
6 1017122 8       10      10       8     7    10    9     7     1   4

In [ ]:
#Modificamos la tabla adicional los nombres de los encabezamos
#leyendo la tabla 
#usamos la funcion colnames 
colnames(bcancer)<-c("id", "clump_t", "u_csize", "u_cshape", "m_adh", "spcs", "b_nuc", 
             "b_chr", "n_nuc", "mit", "class")
head(bcancer)

  id      clump_t u_csize u_cshape m_adh spcs b_nuc b_chr n_nuc mit class
1 1000025 5        1       1       1     2    1     3     1     1   2
2 1002945 5        4       4       5     7    10    3     2     1   2
3 1015425 3        1       1       1     2    2     3     1     1   2
4 1016277 6        8       8       1     3    4     3     7     1   2
5 1017023 4        1       1       3     2    1     3     1     1   2
6 1017122 8       10      10       8     7    10    9     7     1   4

In [ ]:
#conocer el tipo de 
class(bcancer)

[1] "data.frame"

## Archivos cvs
Los archivos separados por comas, con extensión .csv, por Comma Separated Values, sus siglas en inglés. Este es un tipo de archivo comunmente usado para compartir datos, pues es compatible con una amplia variedad de sistemas diferentes además de que ocupa relativamente poco espacio de almacenamiento.

Este tipo de archivos también se pueden importar usando la función read.table().

In [ ]:
#Descargar archivo csv 
download.file(
  url = "https://raw.githubusercontent.com/jboscomendoza/r-principiantes-bookdown/master/datos/breast-cancer-wis.csv", 
  dest = "breast-cancer-wis.csv"
)

In [ ]:
#Leyendo el archivo cvs con la función read.table
cancer2 <- read.table(file = "/content/breast-cancer-wis.csv", header = TRUE, sep = ",",
                      col.names = nombres)
#Resultado 
head(cancer2)

  id      clump_t u_csize u_cshape m_adh spcs b_nuc b_chr n_nuc mit class
1 1000025 5        1       1       1     2    1     3     1     1   2
2 1002945 5        4       4       5     7    10    3     2     1   2
3 1015425 3        1       1       1     2    2     3     1     1   2
4 1016277 6        8       8       1     3    4     3     7     1   2
5 1017023 4        1       1       3     2    1     3     1     1   2
6 1017122 8       10      10       8     7    10    9     7     1   4

In [ ]:
#Leyendo el archivo csv con la función read.csv 

cancer3 <- read.csv("/content/breast-cancer-wis.csv")
#Resultado
head(cancer3)

  id      clump_t u_csize u_cshape m_adh spcs b_nuc b_chr n_nuc mit class
1 1000025 5        1       1       1     2    1     3     1     1   2
2 1002945 5        4       4       5     7    10    3     2     1   2
3 1015425 3        1       1       1     2    2     3     1     1   2
4 1016277 6        8       8       1     3    4     3     7     1   2
5 1017023 4        1       1       3     2    1     3     1     1   2
6 1017122 8       10      10       8     7    10    9     7     1   4

## Importación de tablas con la librería readr 

El objetivo de readr es proporcionar una forma rápida y sencilla de leer datos rectangulares (como csv y tsv). Está diseñado para analizar de manera flexible muchos tipo.

In [ ]:
install.packages("readr")
library(readr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ dplyr   1.0.5
✔ tibble  3.1.1     ✔ stringr 1.4.0
✔ tidyr   1.1.3     ✔ forcats 0.5.1
✔ purrr   0.3.4

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

##Funciones de readr
Una vez cargada la libreria readr puedes trabajar con él. Tienes tres funciones a utilizar:




*   read_csv(): para leer archivos con coma (“,”) como separador
*   read_csv2(): para leer archivos con punto y coma (“;”) como separador
*   read_tsv(): para leer archivos con tabulador (“\t”) como separador
*   read_delim(,sep =’|’): para leer archivos con diferentes separadores como por ejemplo puede ser el símbolo ‘|’  ','  '\t'

In [ ]:
#Leyendo un archivo csv con read_csv 
cancer4 <- read_csv("/content/breast-cancer-wis.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  id = col_double(),
  clump_t = col_double(),
  u_csize = col_double(),
  u_cshape = col_double(),
  m_adh = col_double(),
  spcs = col_double(),
  b_nuc = col_character(),
  b_chr = col_double(),
  n_nuc = col_double(),
  mit = col_double(),
  class = col_double()
)

In [ ]:
head(cancer4)

  id      clump_t u_csize u_cshape m_adh spcs b_nuc b_chr n_nuc mit class
1 1000025 5        1       1       1     2    1     3     1     1   2
2 1002945 5        4       4       5     7    10    3     2     1   2
3 1015425 3        1       1       1     2    2     3     1     1   2
4 1016277 6        8       8       1     3    4     3     7     1   2
5 1017023 4        1       1       3     2    1     3     1     1   2
6 1017122 8       10      10       8     7    10    9     7     1   4

In [ ]:
cancer5<- read_delim("/content/breast-cancer-wis.csv", delim = ",")
head(cancer5)

── Column specification ────────────────────────────────────────────────────────
cols(
  id = col_double(),
  ` clump_t` = col_double(),
  ` u_csize` = col_double(),
  ` u_cshape` = col_double(),
  ` m_adh` = col_double(),
  ` spcs` = col_double(),
  ` b_nuc` = col_character(),
  ` b_chr` = col_double(),
  ` n_nuc` = col_double(),
  ` mit` = col_double(),
  ` class` = col_double()
)

  id       clump_t  u_csize  u_cshape  m_adh  spcs  b_nuc  b_chr  n_nuc  mit
1 1000025 5         1        1        1      2     1      3      1      1
2 1002945 5         4        4        5      7     10     3      2      1
3 1015425 3         1        1        1      2     2      3      1      1
4 1016277 6         8        8        1      3     4      3      7      1
5 1017023 4         1        1        3      2     1      3      1      1
6 1017122 8        10       10        8      7     10     9      7      1
   class
1 2
2 2
3 2
4 2
5 2
6 4